.footer {
  background-color: #152238;
  color: #ffffff;
  padding: 3.5rem;
  height: 5em; /* Adjust the height as per your preference */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer .social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.footer .social-icons a:last-child {
  margin-right: 0;
}

.footer .social-icons a:hover {
  background-color: #eeeeee;
}

.footer .social-icons i {
  color: #152238;
  font-size: 16px;
}
