#dataAnalytics_container{
  margin-top: 6em;
}

header {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .dataAnalytics_container h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .top-nav {
    background-color: #333;
    padding: 1rem;
  }
  
  .dashboard ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dashboard li {
    margin-right: 1rem;
  }
  
  .dashboard li:last-child {
    margin-right: 0;
  }
  
  .dashboard li a {
    color: #fff;
    text-decoration: none;
  }
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; /* Adjusted property */
    margin: 2rem;
  }
  
  .chart-item {
    flex: 1 1 18.75em; 
    margin: 1rem;
    padding: 2rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .chart-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .chart_g {
    display: flex;
    justify-content: center;
  }
  
  .export-report {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .export-report button {
    padding: 1rem 2rem;
    background-color: #0088fe;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .export-report button:hover {
    background-color: #0066cc;
  }
  
  @media screen and (max-width: 768px) {
    .dashboard {
      flex-direction: column;
    }
}  
