.no-result-heading{
  text-align: center;
}


.resultimg{
  width: 20em;
  height: 20em;
  margin-bottom: 3em;
}

.a-result-info{
    min-width: 15em;
    max-width: 30em;
    width: 28em;
}

.result-container .card-content
{
  display: flex;
  flex-direction: column;
}