.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    }
    
    .image-upload-container .upload-button {
      padding: 1em 2em 1em 2em;
    }
    
    .upload-button:hover {
        background-color:  rgb(67, 166, 255);
    }
    
    .upload-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    }
    
    .upload-modal-content {
        background-color: #fff;
        padding: 2em;
        border-radius: 0.4em;
        max-width: 35em;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .upload-icon{
        margin: 3em;
    }
    
    .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    }
    
    .close:hover {
    color: red;
    }
    
    
    .file-input {
        display: block;
        margin: 10px auto;
    }
    
    .preview-image {
        max-width: 100%;
        max-height: 200px;
        object-fit: contain;
        margin: 20px 0;
    }
    
    .upload-modal-content .perform-analysis-button {
        padding: 1em 2em 1em 2em;
        margin-top: 1.5em;
    }
    
    .perform-analysis-button:hover {
        background-color: rgb(67,180,255); 
    }
    
    