* {
  background-color: white;
}

.input {
  margin-top: 5px;
}
.button {
  background-color: rgb(67, 166, 255);
  color: white;
}
.button:hover {
  background-color: #235ada;
}
.signup {
  position: absolute;
  right: 130px;
  top: 20px;
  cursor: pointer;
}
.contact {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.passwordInputContainer {
  position: relative;
}

.input[type='password'] {
  padding-right: 40px; /* Add space for the eye icon */
}

.passwordToggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.passwordToggleIcon {
  color: #999;
  font-size: 18px;
  transition: color 0.3s ease;
}

.passwordToggleIcon:hover {
  color: #333;
}
