* {
  background-color: white;
}

.input {
  margin-top: 5px;
}
.button {
  background-color: rgb(67, 166, 255);
  color: white;
}
.button:hover {
  background-color: #235ada;
}
.signup {
  position: absolute;
  right: 130px;
  top: 20px;
  cursor: pointer;
}
.contact {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
