@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
.p-4 {
padding: 1rem;
}

.w-full {
width: 100%;
}

.h-screen {
height: 100vh;
}

.bg-slate-100 {
background-color: #f3f4f6;
}

.input-group {
display: flex;
align-items: center;
}

.form-outline {
flex: 1;
}

.input-group .form-control {
border: 1px solid skyblue;
float: right;
border-radius: 0.25rem;
padding: 0.5rem;
font-size: small;
max-width: 15em;
}


.form-control input{
    border: none;
float: right;
border-radius: 0.25rem;
padding: 0.5rem;
font-size: small;
max-width: 15em;
}


.next-page .btn {
display: inline-flex;
align-items: center;
border: none;
color: #fff;
font-weight: bold;
padding: 0.5rem;
}

.dot{
margin-left: 1em;
cursor: pointer;
}

.next-page{
    display: flex;
    justify-content: space-between;
    padding: 0 15em 0 10em;
}